
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This is a temporary rule for development purposes.
    // It allows anyone to read and write to the database.
    // TODO: Secure your database before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
