
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // For testing purposes, allow anyone to read and write to the debug_writes collection.
    match /debug_writes/{docId} {
      allow read, write: if true;
    }

    // For debugging conversations, allow writes to conversations and conversations_errors.
    match /conversations/{docId} {
      allow write: if true;
    }
    match /conversations_errors/{docId} {
      allow write: if true;
    }

    // Allow authenticated users to read and write to the characters collection and ALL of its subcollections.
    match /characters/{characterId}/{path=**} {
        allow read, write: if request.auth != null;
    }

    // Allow authenticated users to read and write top-level character documents.
    match /characters/{characterId} {
      allow read, write: if request.auth != null;
    }
    
    // By default, disallow all other reads and writes.
    // As you build your app, you will need to add specific rules for other collections.
    match /{path=**} {
      allow read, write: if false;
    }
  }
}
